{% extends "header.html" %}
{% load static %}
{% block content %}

<!--Page Title-->
<section class="page-title text-center" style="background-image:url({% static 'images/background/3.jpg' %});">
    <div class="container">
        <div class="title-text">
            <h1>appointment</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="{% url 'index' %}">home &nbsp;/</a>
                </li>
                <li>appointment</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section section style-three pb-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-10">
                <div class="contact-area style-two">
                    <div class="section-title text-center">
                        <h3><span>Change-Password</span></h3>
                    </div>
                    <form method="post" action="{% url 'fpass' %}" class="bg-light p-10 contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Your Mobile Number" name="mobile">
                        </div>
                        

                        <div class="form-group">
                            <input type="submit" value="send-otp" class="btn btn-primary py-3 px-5">
                        </div>
                        <a href="{% url 'fpass' %}">Forget-Password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% endblock %}